<html>
        <head>
            <title>Alterar usuário</title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                crossorigin="anonymous">
        </head>
        <body style="background-color:#4C4A48">
            <script>
                function alter(){
                    var user = document.getElementById("usr").value;
                    var secret = document.getElementById("psw").value;
                    var endpoint = "/Oraculum_Data/api/alteruser/?user=" + user + "&secret=" + secret;
                    $.ajax({
                        async: false,
                        method: "get",
                        url: endpoint,
                        success: function(_result){
                            var result = _result;
                            if(result['result'] == true){
                                window.location.href = '/Oraculum_Data/';
                            }
                            else{
                                console.log("didn't work")
                            }
                        },
                        error: function(data){
                            console.log("Error")
                            console.log(data)
                        }
                    })
                }

                function del(){
                    
                    
                    var endpoint = "/Oraculum_Data/api/deleteuser/";
                    $.ajax({
                        async: false,
                        method: "get",
                        url: endpoint,
                        success: function(_result){
                            var result = _result;
                            if(result['result'] == true){
                                window.location.href = '/Oraculum_Data/';
                            }
                            else{
                                console.log("didn't work")
                            }
                        },
                        error: function(data){
                            console.log("Error")
                            console.log(data)
                        }
                    })
                }
            </script>
            <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                <a href="/Oraculum_Data">
                    <img src="https://image.flaticon.com/icons/svg/89/89285.svg" style="display:block;width:100px;height:100px;margin:auto;margin-bottom:30px"/>
                </a>
                <h2>Alterar usuário</h2>
                <div>
                <input id="usr" class="default" placeholder="usuário" style="margin-bottom:20px" value={{ user.username }}/>
                </div>
                <div>
                <input id="psw" type="password" class="default" placeholder="senha" style="margin-bottom:7%"/>
                </div>
                <div>
                    <div style="display:block;margin:auto;">
                        <button type="submit" onclick="alter();" class="btn btn-primary" >Alterar</button>
                        <button type="submit" onclick="del();" class="btn btn-danger">Excluir</button>

                    </div>
                </div>
            </div>
        </body>
    </html>