<!-- https://www.youtube.com/watch?v=B4Vmm3yZPgc -->

{% extends 'base.html' %}
<html>
    <head>
        {% block head %}
        <title>Câncer de Colo</title>
        {% endblock %}
    </head>
    <body>
        
        {% block body %}
        <div class="container" style="margin-bottom:30px">
            <h2>Mortalidade - Câncer de Mama e Colo de Útero </h2>
            <p><strong>Número de óbitos de Câncer de Mama maior de 70 anos segundo raça/cor. </strong></p>
        </div>
        <div class="container form-inline" style="margin-bottom:30px">
            <h3 class="label label-primary" id="total" style="font-size:32px"></h3>
            <h3 class="label label-info" id="mean" style="font-size:32px"></h3>
            <h3 class="label label-success" id="std" style="font-size:32px"></h3>
            <h3 class="label label-warning" id="count" style="font-size:32px"></h3>
        </div>
        <div class="container" style="margin-bottom:30px">
            <h3 style="margin-bottom:20px"> Gráfico </h3>
            <select onchange="test();" id="selection" class="form-control">
                <option value="Branca">Branca</option>
                <option value="Amarela">Amarela</option>
                <option value="Ignorada">Ignorada</option>
                <option value="Indigena">Indigena</option>
                <option value="Parda">Parda</option>
                <option value="Preta">Preta</option>
            </select>
            <canvas id="myChart"></canvas>
        </div>
        <script>
            var endpoint = '/Oraculum_Data/api/chart/data/?dataset=Branca'  
            var defaultData = []
            var labels = [];

            function changeData(){
                if(!data)
                    return;

                var ctx = document.getElementById("myChart");
                var total = document.getElementById("total");
                var mean = document.getElementById("mean");
                var std = document.getElementById("std");
                var count = document.getElementById("count");

                total.textContent = "Total: " + data.total;
                mean.textContent = "Média: " + data.mean;
                std.textContent = "Desvio Padrão: " + data.std;
                count.textContent = "N. registros: " + data.count;
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: '# de óbitos de Cancer de Mama maior de 70 anos',
                            data: data.dataframe,
                            backgroundColor:'rgba(255, 99, 132, 0.2)',
                            borderColor:'rgba(255,99,132,1)'
                        }]
                    }
                });
            }

            var data = null;
            function test(){
                var selection = document.getElementById("selection");
                endpoint = '/Oraculum_Data/api/chart/data/?dataset='+selection.value;
                console.log(endpoint)
                
                $.ajax({
                    async: false,
                    method: "GET",
                    url: endpoint,
                    success: function(_data){
                        data = _data;
                        changeData();
                    },
                    error: function(data){
                        console.log("Error")
                        console.log(data)
                    }
                })
            }
        </script>
        {% endblock %}
    </body>
</html>