{% extends 'base.html' %}

{% block head %}
<title>Despesas</title>
{% endblock %}

{% block body %}

<div class="container">
    <h3>Dados</h3>
    <h3 id="error_h3" align="center" style="display:none;color:#F0BCBC">Falha ao consultar os dados  </h3>
    <img id="img_deputado" style="margin-bottom:3%;margin-top:3%;float:right"/>
    <p id="nome"></p>
    <p id="nome_eleitoral" ></p>
    <p id="data_nascimento"></p>
    <p id="data_falecimento"></p>
    <p id="escolaridade"></p>
    <p id="municipio_nascimento"></p>
    <p id="nome_civil"></p>
    <p id="sexo"></p>
    <p id="uf_nascimento"></p>
    <p id="sigla_partido"></p>
    <p id="sigla_uf"></p>
    <p id="situacao"></p>
    <p id="condicao_eleitoral"></p>
    <p id="email"></p>
    <!-- <a id="site"></a> -->
    
    <div class='tableauPlaceholder' id='viz1512195211570' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt='Despesas ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;Despesas_9&#47;Despesas&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='Despesas_9&#47;Despesas' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;Despesas_9&#47;Despesas&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' />
            <param name='filter' value='Idecadastro={{deputado|safe}}' />
        </object>
    </div>                
    <script type='text/javascript'>                    var divElement = document.getElementById('viz1512195211570');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1000px';vizElement.style.height='827px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


    <div class='tableauPlaceholder' id='viz1512194001521' style='position: relative'>
        <noscript>
            <a href='#'>
            </div>
            <img alt='Main Panel ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SC&#47;SCXNHXNH9&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='path' value='shared&#47;SCXNHXNH9' /> 
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SC&#47;SCXNHXNH9&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' />
        <param name='filter' value='ID_AUTOR={{deputado|safe}}' />
    </object>
</div>                
<script type='text/javascript'>                    var divElement = document.getElementById('viz1512194001521');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1000px';vizElement.style.height='827px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
<script>
    var deputado = {{ deputado }}
    

    var img_deputado = document.getElementById("img_deputado");
    var nome = document.getElementById("nome");
    var data_nascimento = document.getElementById("data_nascimento");
    var escolaridade = document.getElementById("escolaridade");
    var municipio_nascimento = document.getElementById("municipio_nascimento");
    var sexo = document.getElementById("sexo");
    var uf_nascimento = document.getElementById("uf_nascimento");
    var sigla_partido = document.getElementById("sigla_partido");
    var sigla_uf = document.getElementById("sigla_uf");
    var situacao = document.getElementById("situacao");
    var condicao_eleitoral = document.getElementById("condicao_eleitoral");
    var email = document.getElementById("email");

    window.onload = function(){
        $.ajax({
            async: false,
            method: "GET",
            url: "https://dadosabertos.camara.leg.br/api/v2/deputados/" + deputado,
            headers: {
                accept:"application/json"
            },
            success: function(_data){
                var data = _data;
                img_deputado.src = data['dados']['ultimoStatus']['urlFoto'];
                nome.textContent = "Nome: " + data['dados']['nomeCivil'];
                data_nascimento.textContent = "Data nascimento: " + data['dados']['dataNascimento'];
                escolaridade.textContent = "Escolaridade: " + data['dados']['escolaridade'];
                municipio_nascimento.textContent = "Município: " + data['dados']['municipioNascimento'];
                sexo.textContent = "Sexo: " + data['dados']['sexo'];
                uf_nascimento.textContent = "UF nascimento: " + data['dados']['ufNascimento'];
                sigla_partido.textContent = "Partido: " + data['dados']['ultimoStatus']['siglaPartido'];
                situacao.textContent = "Situação: " + data['dados']['ultimoStatus']['situacao'];
                condicao_eleitoral.textContent = "Condição eleitoral: " + data['dados']['ultimoStatus']['condicaoEleitoral'];
                email.textContent = "Email: " + data['dados']['ultimoStatus']['gabinete']['email'];
                
            },
            error: function(data){
                var error_h3 = document.getElementById("error_h3");
                error_h3.style.display = "block";
            }
        })
    }
</script>
{% endblock %}
