{% extends 'base.html' %}
<html>
    <head>
        {% block head %}
        <title>Educação</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            <!-- <h1>{{ MyName }}</h1> -->
            <h1> Business Intelligence </h1>
        </div>
        <div class="container">
            <p><strong> </strong></p>  
            <ul>
                <strong> Educação</strong>
                <li>
                        <a href="cancerColo">
                            <label class="btn btn-default">
                                Cancer de colo de útero
                            </label>
                        </a>
                </li>
            </ul>
        </div>
        {% endblock %}
    </body>
</html>